.cocktail-card {
  display: grid;
  width: 11rem;
  border-radius: 2rem;

  & > * {
    grid-row: 1;
    grid-column: 1;
  }

  & .info-icon {
    z-index: 1;
    margin: 0.5rem 0.5rem auto auto;

    & span {
      font-size: 3rem;
      text-shadow: 0 2px 3px #000000;

      &:hover {
        color: rgb(222, 222, 222);
      }
    }
  }

  & .favorite-button-container {
    font-size: 3rem;
    z-index: 1;
    margin: 0.5rem auto auto 0.5rem;

    text-shadow: 0 2px 3px #000000;
  }

  & .info-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 0.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;

    & h4 {
      z-index: 1;
      color: white;
      font-size: 1.3rem;
      margin: 0;
      padding: 0;
      font-weight: 200;

    }
  }

  & img {
    border-radius: 2rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 0;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.8);
  }
}