.cocktail-search-form {
  & .search-bar-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem;

    input[type='text'] {
      font-family: "Roboto Condensed", sans-serif;
    }
  }

  & .filter-settings-container {
    display: flex;
    gap: 0.5rem;
    & select {
      text-align: center;
      font-family: "Roboto Condensed", sans-serif;
    } 
  }

  & .hidden {
    opacity: 0;
  }

  & span.toggle-filter-settings{
    font-size: 3rem;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: rgb(186, 186, 186);
    }
  }
}