.cocktail-search-form {
  gap: 0.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;

  & .search-bar-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    

    input[type='text'] {
      height: 1.5rem;    
      font-size: 1.2rem;
      padding: 0.5rem;
      width: 100%;
      font-family: "Roboto Condensed", sans-serif;
    }
  }

  & .filter-settings-container {
    display: flex;
    gap: 0.5rem;
    & select {
      text-align: center;
      font-family: "Roboto Condensed", sans-serif;
    } 
  }

  & .hidden {
    opacity: 0;
  }

  & span.toggle-filter-settings{
    font-size: 3rem;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: rgb(186, 186, 186);
    }
  }
}


@media screen and (max-width: 500px) {
  .cocktail-search-form {
    padding: 0 1rem;
  }

  .filter-settings-container {
    flex-direction: column;
  }
}