@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

@import url("./App.css");

:root {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    color: black;
    width: 100%;
}

a {
    color: black;
    font-size: 30px;
    padding: 1rem;
    text-decoration: none;
}

a:hover {
    color: white;
}

main {
    flex: 1;
}

